<h1> My Homework App! </h1>
<div class="profile">
<h1>Michael Bjorklund</h1>
<img src="profile.jpg" />

<h2>Information Security is Key</h2>
<div class="comic">
  <img src="http://www.fastdes.com/wp-content/uploads/2015/06/iphone-cartoon.jpg" />
  </div>

<p>I work on information security and want to learn more about coding best practices and how to build my own apps</p>
<a href="http://www.nist.gov/">National Institue for Standards and Technology </a>

</div>

